---
layout: default
---
<style>
  nav {
    opacity: 0.5;
    transition: opacity 125ms;
  }

  nav:hover {
    opacity: 1.0;
  }
</style>

<div class="post-wrapper">
  <article class="post">
    <div class="post-heading">
      <h1 class="post-title">{{ page.title }}</h1>
      <time datetime="{{ page.date | date_to_xmlschema }}" class="faded">{% if page.type != 'pages' %}
        {{ page.date | date: "%B %-d, %Y" }}
        {% endif %}
      </time>
    </div>
    {{ content }}
  </article>

  <br>